.blog {
  line-height: 1.6em;
}
.blog p {
  margin-bottom: 1.6em;
}
.blog-header {
  font-weight: 300;
}
.blog-tagline {
  font-style: italic;
  margin-bottom: 35px;
}
.blog-post-list {
  margin-bottom: 75px;
  overflow: hidden;
}
.blog-list-title {
  text-decoration: none;
  font-size: 2em;
  font-weight: 300;
  color: #333;
}
.blog-title {
  font-weight: 300;
}
.blog-author {
  font-size: 1.25em;
  display: block;
}
.blog-date {
  display: block;
}
.blog-excerpt {
  margin-top: 10px;
}
.blog-excerpt img {
  max-height: 250px;
}
.blog-excerpt h1 {
  font-size: 20px;
}
.blog-excerpt h2 {
  font-size: 16px;
}
.blog-excerpt h3 {
  font-size: 12px;
}
.blog-excerpt img {
  float: left;
  max-width: 250px;
  margin-right: 50px;
}
@media (max-width: 480px) {
  .blog-excerpt p {
    clear: both;
  }
}

.blog-continue {
  font-size: 1.25em;
}
.blog-paginator {
  margin-top: 50px;
}
.blog-page-number{

}

#blognav-affix.affix {
  top: 0;
}
#blognav-affix.affix-bottom {
  position: absolute;
}
.blognav-title {
  font-size: 1.75em;
  font-weight: 300;
}
.blognav a {
  text-decoration: none;
}
.blognav li {
  padding-bottom: 5px;
  transition-property: padding-left;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  padding-left: 15px;
}
.blognav li:hover {
  transition-property: padding-left;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  padding-left: 0;
}
.blognav li:hover a {
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  padding-left: 0;
  color: #333;
}
.blog-paginator__button--disabled {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  color: #777;
  cursor: not-allowed;
}