table {
	border-collapse: collapse;
	border: 1px solid #000000;
}

table td {
	border: 1px solid #000000;
}

.graph {
	height: 150px;
	margin: 0.5em auto 0.5em 0;
}

#demo-header {
	display: none;
	
}

#demo-header {
	margin-bottom: 10px;
}

#demo-container {
	background-color:#000000;
}

.bigNumber {
	font-size: 15px;
	color: #FFF;
	padding: 0;
}

.iconImg {
	width: 63px;
	height: 63px;
}

.labelit {
	color:#FFFFFF;
	display:block;
}

.messageIt {
	color:#FF0000;
}

#logo {
	padding-top: 5px;
	padding-left: 0px;
}

#qrcode {
	padding-top: 5px;
	padding-right: 7px;
	float: right;
}

#qrtext {
	text-align: right;
	clear: both;
}

.carousel-pics {
	vertical-align: middle;
}

.navbar-header {
	padding-left: 15px;
}

#slideshow {
	max-width: 1500px;
	margin-right: auto;
	margin-left: auto;
}
@media (max-width: 1000px) {
	#slideshow {
		max-height: 200px;
	}
}
@media (min-width: 1000px) {
	#slideshow {
		height: 450px;
	}
}

.footer {
	color: #777;
	text-align: center;
}

#readme-banner {
	background-image: url('../assets/banner.png');
	background-repeat: no-repeat;
	background-position: center center;
}

@media (max-width: 1000px) {
	#readme-banner {
	height: 125px;
	}
}

@media (min-width: 1000px) {
	#readme-banner {
	height: 225px;
	}
}

#readme-banner-text {
	color: #FFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.page-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.page-container {
		padding-right: 15px;
		padding-left: 15px;
		width: 700px;
	}
}

@media (min-width: 992px) {
	.page-container {
		padding-right: 15px;
		padding-left: 15px;	
		width: 700px;
	}
}

@media (min-width: 1200px) {
	.page-container {
		width: 920px;
	}
}