#main-navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin: 0 auto 0 auto;
    bottom: 50;
}
.mrs-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: 50px;
}

/* Patient List Stuff */

.mrs-patient-listHolder {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
    background-color: #e5e5e5;
    border-right: 3px solid #ddd;
}

#mrs-patient-list {
    width: 100%;
}
.mrs-ptContainer {
    cursor: pointer;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #ccc;
    background-color: #f5f5f5;
    width: 100%;
    height: 80px;
}
.mrs-ptContainer:hover {
    background-color: #FFF;
}
.activePt {
    background-color: #9cf;
    border-top: 2px solid rgba(59,103,158,1);
    border-bottom: 2px solid rgba(59,103,158,1);
    color: #FFF;
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(-15deg,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 60%, rgba(32,124,202,1) 61%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(60%,rgba(43,136,217,1)), color-stop(61%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-15deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 60%,rgba(32,124,202,1) 61%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-15deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 60%,rgba(32,124,202,1) 61%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-15deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 60%,rgba(32,124,202,1) 61%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(165deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 60%,rgba(32,124,202,1) 61%,rgba(125,185,232,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );  /* IE6-9 fallback on horizontal gradient */
}
.activePt .mrs-pt-identifier {
    color: #DDDDDD;
}
.noData .mrs-pt-identifier {
    color: #B00;
}
.mrs-pt-identifier {
    width: 30%;
    color: #444;
    font-weight: 200;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
    padding-top: 9px;
}
.mrs-pt-givenName {
    font-size: 1em;
    font-weight: 200;
    width: 70%;
    padding-left: 15px;
    vertical-align: bottom;
}
.mrs-pt-familyName {
    padding-left: 15px;
    font-size: 1.6em;
    font-weight: 500;
    width: 70%;
    vertical-align: top;
}
.mrs-pt-gender {
    width: 15%;
    vertical-align: bottom;
    text-align: left;
    padding-left: 5px;
}
.mrs-pt-age {
    width: 15%;
    vertical-align: bottom;
    text-align: right;
    padding-right: 0;
}

#mrs-patient-buttons {
    position: absolute;
    bottom: 0;
    padding: 1px;
}
.patient-list-button {
    font-weight: 300;
    font-size: 1.2em;
}

/* End of Patient List Stuff */


/* MRS Demo Stuff */

.mrs-demo-container {
    padding: 0;
    min-width: 750px;
}

/* Demo Header Stuff */

#mrs-demo-header td {
    /*border: 1px solid black;*/
}

#mrs-demo-header {
    width: 100%;
}
#mrs-demo-patientHeader {
    min-height: 80px;
    width: 100%;
    color: white;
    /*background-color: #E0F0FF;*/
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 66%, rgba(43,136,217,1) 66%, rgba(32,124,202,1) 94%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(66%,rgba(43,136,217,1)), color-stop(66%,rgba(43,136,217,1)), color-stop(94%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 66%,rgba(43,136,217,1) 66%,rgba(32,124,202,1) 94%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 66%,rgba(43,136,217,1) 66%,rgba(32,124,202,1) 94%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 66%,rgba(43,136,217,1) 66%,rgba(32,124,202,1) 94%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 66%,rgba(43,136,217,1) 66%,rgba(32,124,202,1) 94%,rgba(125,185,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.header-top {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: bottom;
}
.header-bottom {
    font-style: italic;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    opacity: 0.8;
    font-weight: 300;
}
#header-picture {
    width: 10%;
    padding: 5px;
    text-align: center;
    vertical-align: bottom;
    font-size: 3em;
}
#header-givenName {
    width: 20%;
    font-size: 1.5em;
    font-weight: 600;
    
}
#header-familyName {
    width: 25%;
    font-size: 2em;
    font-weight: 300;
}
#header-mrn {
    width: 20%;
    font-size: 1.5em;
    font-weight: 200;
}
#header-gender {
    width: 10%;

}
#header-age {
    width: 5%;

}
#header-birthDate {
    width: 10%;

}
#header-familyName-label {

}
#header-givenName-label {

}
#header-birthDate-label {

}
#header-age-label {

}
#header-gender-label {

}
#header-mrn-label {

}
.header-holder {
    padding: 15px;
}
.header-title {
    font-weight: 300;
    font-size: 1.5em;
}
.header-button {
    position: absolute;
    right: 25px;
    /*bottom: 0;*/
}

/* End of Demo Header Stuff */

/* HIMSS Splash Screen */

#himss-dashboard-splash {
    padding: 0 25px;
}
.himss-header-title {
    margin-top: 0;
    font-size: 4em;
    font-weight: 300;
}
.himss-header-list {
    list-style-type: none;
    font-size: 2em;
    font-weight: 300;
}
.himss-header-subtitle {

}

/* End of HIMSS Splash Screen */

/* Dashboard Stuff */

#mrs-demo-dashboardHolder {
    list-style-type: none;
    padding: 0;
    margin: 15px;
}
.mrs-dashboard {

}


/* graph bullshit */

.chartContainer {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px;
}
.chartContainer a {
    color: #DDD;
}
.chartContainer a:hover {
    color: #FFF;
}
.chart {
    position: relative;
    position: inline-block;
    left: 40px;
/*    left: 50px;
    width: 1000px;
    position: absolute;*/
}
.yAxis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}
.chartLegend {
    right: 0;
    bottom: -15px;
    display: inline-block;
    position: relative;
}
.detail_swatch {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px 0 0;
  padding-top: 2px;
}

/* End of Graph Bullshit */

/* End of Dashboard Stuff */

/* End of MRS Demo Stuff */