#main-navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin: 0 auto 0 auto;
    bottom: 50;
}
.mrs-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: 50px;
}
.mrs-patient-listHolder {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
    background-color: #e5e5e5;
    border-right: 3px solid #ddd;
}
#mrs-patient-list {
    width: 100%;
}
.mrs-ptContainer {
    cursor: pointer;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #ccc;
    background-color: #f5f5f5;
    width: 100%;
    height: 80px;
}
.mrs-ptContainer:hover {
    background-color: #FFF;
}
.activePt {
    background-color: #9cf;
    border-top: 2px solid rgba(59,103,158,1);
    border-bottom: 2px solid rgba(59,103,158,1);
    color: #FFF;
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(-15deg,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 60%, rgba(32,124,202,1) 61%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(60%,rgba(43,136,217,1)), color-stop(61%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-15deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 60%,rgba(32,124,202,1) 61%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-15deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 60%,rgba(32,124,202,1) 61%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-15deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 60%,rgba(32,124,202,1) 61%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(165deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 60%,rgba(32,124,202,1) 61%,rgba(125,185,232,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );  /* IE6-9 fallback on horizontal gradient */
}
.activePt .mrs-pt-identifier {
    color: #DDDDDD;
}
.noData .mrs-pt-identifier {
    color: #B00;
}
.mrs-pt-identifier {
    width: 30%;
    color: #444;
    font-weight: 200;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
    padding-top: 9px;
}
.mrs-pt-givenName {
    font-size: 1em;
    font-weight: 200;
    width: 70%;
    padding-left: 10px;
    vertical-align: bottom;
}
.mrs-pt-familyName {
    padding-left: 10px;
    font-size: 1.6em;
    font-weight: 500;
    width: 70%;
    vertical-align: top;
}
.mrs-pt-gender {
    width: 15%;
    vertical-align: bottom;
    text-align: left;
    padding-left: 5px;
}
.mrs-pt-birthDate {
    width: 15%;
    vertical-align: bottom;
    text-align: right;
    padding-right: 5px;
}

.mrs-demo-container {
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
}
#mrs-demo-patientHeader {

}
.mrs-demo-givenName {

}
.mrs-demo-familyName {

}
.mrs-demo-identifier {

}
.mrs-demo-gender {

}
.mrs-demo-birthDate {

}

#mrs-demo-dashboardHolder {
    list-style-type: none;
    padding: 0;
}

#himss-dashboard-splash {

}
.himss-header-title {

}
.himss-header-subtitle {

}

/* graph bullshit */
.chartContainer {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px;
}
.chart {
    position: relative;
    position: inline-block;
    left: 40px;
/*    left: 50px;
    width: 1000px;
    position: absolute;
*/}
.yAxis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}
.chartLegend {
    right: 0;
    bottom: -15px;
    display: inline-block;
    position: relative;
}
