---
layout: landing-page
title: OpenICE - Open-Source Integrated Clinical Environment
description: OpenICE project aims to develop a distributed system platform to integrate realtime medical devices and clinical applications into the existing Healthcare IT Enterprise.
twitter-card-type: summary
twitter-card-image: /assets/openice-home.png
---

<div class="splash-screen fadeIn">
  <div class="splash-screen__background"></div>

  <div class="splash-screen__header">
    <div class="splash-screen__title col-md-4"><span>OpenICE</span></div>
    <div class="splash-screen__list col-md-8">
      <ul>
        <li>- is an Open-Source Integrated Clinical Environment.</li>
        <li>- is a prototype clinical ecosystem connecting medical devices and clinical applications.</li>
        <li>- provides a framework for the integration of devices and apps into the broader Medical Internet of Things.</li>
      </ul>
    </div>
  </div>

  <div class="download-btn__container">
    <a id="landing-download-btn" class="btn btn-primary download-btn" href="https://github.com/mdpnp/mdpnp/releases/latest" target="_blank">
      <span class="download-btn__title">Download OpenICE</span>
      <br />
      <span class="download-btn__subtitle">Latest Release v{{ site.openice-version }}</span>
    </a>
  </div>


  <div class="splash-screen__link">
    <div class="splash-screen__link-icons">
      <a href="https://github.com/mdpnp/mdpnp" target="_blank"><span class="fa fa-github-square"></span> GitHub</a>
      <br class="visible-xs" />
      <a href="{{ site.url }}/docs/1_overview.html"><span class="fa fa-book"></span> Documentation</a>
      <br class="visible-xs" />
      <a href="https://twitter.com/RandallJonesSim" target="_blank"><span class="fa fa-twitter-square"></span> Twitter</a>
    </div>
    <div class="splash-screen__link-demo">Check out the <a href="{{ site.url }}/demo.html">streaming web demo</a>.</div>
  </div>

</div>





<section class="whatis">
  <div class="whatis__chevron"><span class="glyphicon glyphicon-chevron-down"></span></div>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="whatis__title section-heading">What is OpenICE?</h1>
        <p class="whatis__p">OpenICE is an initiative to create a community implementation of an Integrated Clinical Environment. The initiative encompasses not only software implementation but also an architecture for a wider clinical ecosystem to enable new avenues of clinical research. OpenICE seeks to integrate an inclusive framework of healthcare devices and clinical applications to existing Healthcare IT ecosystems.</p>
        <p class="whatis__p">To learn more about OpenICE, check out our <a href="{{ site.url }}/docs/1_overview.html">documentation</a>.</p>
      </div>

      <div class="col-md-7">
        <img class="img-responsive section-whatis-image" alt="Data Flow Diagram" src="{{ site.url }}/assets/openice-diagram-setup-pictures.png" />
      </div>
    </div>
  </div>
</section>




<section class="section-landing-link">
  <div class="section-landing-link-back"></div>
  <div class="landing-container">
    <h1 class="landing-link-heading section-heading">Explore Further</h1>
    <div class="landing-link col-xs-12 col-sm-6 col-lg-3">
      <a id="landing-link-demo" href="./demo.html">
        <img class="landing-link-image" width="350" height="500" alt="OpenICE Web Demo" src="{{site.url}}/assets/tile-demo.jpg" />
        <h1 class="landing-link-title">Monitoring Web Demo</h1>
      </a>
    </div>
    <div class="landing-link col-xs-12 col-sm-6 col-lg-3">
      <a id="landing-link-docs" href="{{ site.url }}/docs/1_overview.html/">
        <img class="landing-link-image" width="350" height="500" alt="OpenICE Documentation" src="{{site.url}}/assets/tile-software.jpg" />
        <h1 class="landing-link-title">User Documentation</h1>
      </a>
    </div>
    <div class="landing-link-light col-xs-12 col-sm-6 col-lg-3">
      <div class="landing-link-light-back"></div>
      <a id="landing-link-community" href="http://community.openice.info">
        <img class="landing-link-image" width="350" height="500" alt="OpenICE Overview" src="{{site.url}}/assets/tile-visualization.png" />
        <h1 class="landing-link-title-light">OpenICE Community</h1>
      </a>
    </div>
    <div class="landing-link col-xs-12 col-sm-6 col-lg-3">
      <a id="landing-link-blog" href="{{ site.url }}/blog/">
        <img class="landing-link-image" width="350" height="500" alt="OpenICE Blog" src="{{site.url}}/assets/tile-learn.jpg" />
        <h1 class="landing-link-title">OpenICE Blog</h1>
      </a>
    </div>
  </div>
</section>




<section class="docs-toc container">
  <h1 class="section-heading">Documentation</h1>

  <div class="col-md-6">
    <h3 id="docs">User Docs</h3>
    <dl class="dl-horizontal">
      {% for doc in site.docs %}
        {% if doc.title-sm %}
          <dt><a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title-sm }}</a></dt>
          <dd><p>{{ doc.description }}</p></dd>
        {% endif %}
      {% endfor %}
    </dl>
  </div>

  <div class="col-md-6">
    <h3 id="dev">For Developers</h3>
    <dl class="dl-horizontal">

      <dt style="overflow:visible;"><a target="_blank" href="https://docs.google.com/document/d/1g1zYd3kdxk8tL3zzkTJM38ied9Mi-prGTvvsf9LkDJw">Architecture Description</a></dt>
      <dd>
        <p>The Infusion Safety Application Architecture Description provides a high-level survey of key architectural components of the current implementation of an Integrated Clinical Environment (ICE) devised at the MD PnP Interoperability Lab in Cambridge, MA. This document offers readers a targeted glimpse of key design features of that implementation that pertain specifically to the PCA Infusion Safety application.</p>
      </dd>

      <dt><a target="_blank" href="https://github.com/mdpnp/hello-openice">Hello, OpenICE!</a></dt>
      <dd>
        <p>Want to use the OpenICE platform for something new? Write your own OpenICE app! The code repo hello-openice will help you tackle basic device subscription, vital signs collection, and more.</p>
      </dd>

      {% for doc in site.devdocs %}
        {% if doc.title-sm %}
          <dt><a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title-sm }}</a></dt>
          <dd><p>{{ doc.description }}</p></dd>
        {% endif %}
      {% endfor %}

    </dl>
  </div>
</section>




<section class="section-community">
  <div class="section-community-back"></div>
  <div class="landing-container">
    <h1 class="section-community-heading">JOIN THE COMMUNITY</h1>
    <div class="section-community-glyphicons">
      <span class="glyphicon glyphicon-user section-community-glyphicon1"></span>
      <span class="glyphicon glyphicon-user section-community-glyphicon2"></span>
      <span class="glyphicon glyphicon-user section-community-glyphicon3"></span>
    </div>
    <a id="section-community" href="http://community.openice.info" style="text-decoration:none;">
      <h3 class="section-community-caption">Ask&nbsp;questions, share&nbsp;knowledge, find&nbsp;answers.</h3>
      <h3 class="section-community-caption">community.openice.info</h3>
    </a>
  </div>
</section>




<section class="videos container">
  <h1 class="section-heading">Videos</h1>

  <div class="col-md-6 video-tile">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/116693950" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <a href="https://vimeo.com/116693950" target="_blank">MD PnP Lab Tour</a>
    <p>The lab here at MD PnP is constantly expanding it's capabilities and collaborations. Check out our current capabilities, equipment and infrastructure.</p>
  </div>

  <div class="col-md-6 video-tile">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/116917809" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <a href="https://vimeo.com/116917809" target="_blank">OpenICE Technical Intro</a>
    <p>Take an in depth look at OpenICE in this technical presentation. Lead developer Jeff Plourde explains the fundamentals of our distributed system and our use of the DDS middleware. After viewing this webinar, you will understand the basic operating principles of OpenICE.</p>
  </div>

  <div class="col-md-6 video-tile">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/116916484"webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <a href="https://vimeo.com/116916484" target="_blank">OpenICE Overview</a>
    <p>Learn more about the OpenICE platform and where to find the software from this quick webinar!</p>
  </div>

  <div class="col-md-6 video-tile">
    <video controls preload="none" poster="{{ site.url }}/assets/webinar-poster.png">
      <source src="http://webcasts.prismtech.com/files/webcasts/DDS-MD-PnP-Healthcare-WebcastNov2014.mp4" type="video/mp4">
    </video>
    <a href="http://webcasts.prismtech.com/files/webcasts/DDS-MD-PnP-Healthcare-WebcastNov2014.mp4" target="_blank">MDPnP/PrismTech Webinar</a>
    <p>Checkout the members of the MD PnP team presenting in PrismTech's webinar "Harnessing DDS in Next Generation Healthcare Systems Webcast." Learn about DDS and it's use in the OpenICE prototype.</p>
  </div>
</section>

<script type="text/javascript" src="{{site.url}}/build/GA-event-listeners.js" defer ></script>
