<nav id="main-navbar" class="navbar navbar-default lead" role="navigation" style="margin-bottom:0px">
	<div class="container" style="color:#333">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
				<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./index.html" style="font-size:27px">OpenICE</a>
		</div>
		<div id="main-nav-collapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="./explore.html">Explore Our Software</a></li>
						<li class="divider"></li>
						<li><a href="./demo.html">OpenICE Web Demo</a></li>
						<li><a href="http://mdpnp.sourceforge.net/" target="_blank">OpenICE Demo App Suite</a></li>
						<li><a href="./explore.html#previous-demos">Previous Demos</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Learn<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="./learn.html">Learn About Our Technology</a></li>
						<li class="divider"></li>
						<li><a href="./learn.html">OpenICE Technical Description</a></li>
						<li><a href="./learn.html">Interoperability Tutorials</a></li>
						<li><a href="./learn.html">Lab Capabilities</a></li>
					</ul>
				</li>
				<li><a href="./interoperability.html"><small>What is Interoperability?</small></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://www.mdpnp.org" target="_blank">MD PnP Home</a></li>
			</ul>
		</div>
	</div>
</nav>