<footer id="footer">

  <div class="row footer-icons">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="row">
        <div class="col-xs-4 col-sm-2">
          <a href="https://github.com/mdpnp/mdpnp" target="_blank">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-github-alt fa-stack-1x"></i>
            </span>
          </a>
        </div>
        <div class="col-xs-4 col-sm-2">
          <a href="https://twitter.com/RandallJonesSim" target="_blank">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
          </a>
        </div>
        <div class="col-xs-4 col-sm-2">
          <a href="https://www.google.com/+OpeniceInfoPage" target="_blank">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
          </a>
        </div>
        <div class="col-xs-4 col-sm-2">
          <a href="https://www.linkedin.com/grp/home?gid=8333715" target="_blank">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x"></i>
            </span>
          </a>
        </div>
        <div class="col-xs-4 col-sm-2">
          <a href="https://www.facebook.com/openice.info" target="_blank">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
          </a>
        </div>
        <div class="col-xs-4 col-sm-2">
          <a href="http://community.openice.info" target="_blank">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-users fa-stack-1x"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <span class="footer-copyright">Copyright (c) 2015, MD PnP Program<br/>All rights reserved.</span>

  <a href="http://www.mdpnp.org">
    <img class="footer-logo" src="{{ site.url }}/assets/logo.png" alt="MD PnP Logo">
  </a>

</footer>