<!DOCTYPE html>
<html>

  <head>

    {% include head.html %}

    <link rel="stylesheet" href="{{ site.url }}/css/syntaxhighlighting.css">
    <link rel="stylesheet" href="{{ site.url }}/css/blog.css">

  </head>

  <body>

    {% include banner.html %}
    {% include navbar.html %}

    <section id="blog" class="container blog">

      {% if page.title %}
        <h1 class="blog-title">{{ page.title }}</h1>
        <span class="blog-author">{{ page.author }}</span>
        <span class="blog-date">{{ page.date | date_to_string }}</span>
      {% endif %}

      {{ content }}

    </section>

    {% include footer.html %}

  </body>

</html>