<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{site.url}}/css/syntaxhighlighting.css">
  </head>

  <body>

    {% include banner.html %}
    {% include navbar.html %}

    <section id="doc" class="container">
      <div class="row">
        <div class="col-md-9">

          {{ content }}

        </div>

        <div class="col-md-3 hidden-xs docnav">
          <div id="docnav-affix">

            <h5 class="docnav-title">Previous Posts</h5>
            <ul class="list-unstyled">

              {% for post in site.posts %}
                {% if post.title-sm %}
                  <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title-sm }}</a></li>
                {% endif %}
              {% endfor %}

            </ul>

          </div>
        </div>
      </div>
    </section>

    {% include footer.html %}

    <script type="text/javascript">
      $('#docnav-affix').affix({
        offset: {
          top: function () {
            return (this.top = $('#logo-banner-holder').outerHeight(true) + $('#main-navbar').outerHeight(true))
          },
          bottom: function () {
            return (this.bottom = $('#footer').outerHeight(true))
          }
        }
      })
    </script>

  </body>

</html>